{% extends "base.html" %}


{% block title %} - Home{% endblock title %}

{% block main %}
  <!-- search -->

  <form class="form-inline my-2 my-lg-1">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name='search'
      value="{{search_term}}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- end search -->
  {% for publicacao in object_list %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ user.perfil.avatar.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">nome do dono do post vai aqui</a>
        <small class="text-muted"> dados aqui </small>
      </div>
      <h2><a class="article-title" href="#"> mi amigos</a></h2>
      <p class="article-content">Comentário brabor vai aqui</p>
      <div class="container">
        <ul class="timeline">
            <li>
                <a href="#">@{{ publicacao.autor }}</a>
                <a class="float-right">{{ publicacao.data }}</a>
                <p>{{ publicacao.texto }}</p>
            </li>
          </ul>
        </div>
      </div>
    </article>
    {% empty %}
    <p>Nao tem nada bro</p>
    {% endfor %}
    {% endblock main %}