{% extends "base.html" %}


{% block title %} - Home{% endblock title %}

{% block main %}
  <!-- search -->

  <form class="form-inline my-2 my-lg-1">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name='search'
      value="{{search_term}}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- end search -->
  {% if user.is_authenticated %}
  {% for publicacao in object_list %}
    {% if user != publicacao.author %}
      <article class="media content-section">
        <a href="{{ publicacao.author }}">
          <img class="rounded-circle article-img" src="{{ user.perfil.avatar.url }}">
        </a>
        <div class="media-body">
          <div class="article-metadata">
            <a href="#">@{{ publicacao.author }}</a>
            <small class="text-muted"> {{ publicacao.created }} </small>
          </div>
          <h2><a class="article-title" href="#"> {{ publicacao.titulo }} </a></h2>
          <p class="article-content"> {{ publicacao.text }} </p>
          <div class="container">
            <ul class="timeline">
                <li>
                    <a class="float-right">{{ publicacao.data }}</a>
                    <p>{{ publicacao.texto }}</p>
                </li>
              </ul>
            </div>
          </div>
        </article>
    {% endif %}
        {% empty %}
        <p>Nao tem nada bro</p>
  {% endfor %}
    {% else %}
      <a class="nav-item nav-link" href="{% url 'blog:login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'blog:register' %}">Register</a>
    {% endif %}
    {% endblock main %}